<div class="container">
    <h2>EMP LIST</h2>
    <button  routerLink="add">Add New Emp</button>
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of empList$ | async">
                <td><a (click)="edit(emp)">{{emp.firstName}}</a></td>
                <td>{{emp.lastName}}</td>
                <td>{{emp.email}}</td>
            </tr>
        </tbody>
    </table>
</div>